{{> page-header this }}

<div class="alert alert-danger">
  <p class="lead">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    Espace réservé aux organisateurs.
  </p>
  
</div>

{{!--
<a href="/logout" class="pull-xs-right btn btn-secondary"><i class="fa fa-arrow-circle-o-left"></i> Déconnexion</a>
--}}

<section>

  <header>
    <h2 class="card-title">Gestion du concours</h2>
  </header>

  <!--  
  <div class="card-deck-wrapper m-t-2" >
    <div class="card-deck">  -->
  <div class="card-columns">

    <div class="card" >
      <div class="card-header">
        <h3>Inscriptions</h3>
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/registration">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              Liste des inscriptions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/register">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Nouvelle inscription
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">
              <i class="fa fa-cubes" aria-hidden="true"></i>
              Liste des catégories
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card" >
      <div class="card-header">
        <h3>Accès utilisateurs</h3>
      </div>
      <div class="card-block">

        <a href="/admin/users"><i class="fa fa-users" aria-hidden="true"></i> Gestion des utilisateurs</a>
      </div>
    </div>

    <div class="card" >
      <div class="card-header">
        <h3>Concours</h3>
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/contest">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              Liste des concours
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contest/search-vote">
              <i class="fa fa-envelope-square" aria-hidden="true"></i>
              Fiche de vote
            </a>
          </li>
        </ul>
      </div>
    </div>


    <!--    
      </div>
    </div>-->
  </div>

</section>

{{> page-footer this }}


<script>

  var contextSelect = $('select[name=contest]');
  var getContestResult = $('button[name=getContestResults]')

  // -----

  var url = "/api/list-contests";
  var me = this;

  $.ajax(url, {
      dataType: "application/json"
  })
    .done(function(data) {
        me.updateContestList(data);

        contextSelect.prop('disabled', false);
        getContestResult.prop('disabled', false);
    });

  // -----

  function updateContestList(response) {
      var list = response.contestList;

      for ( var idx = 0; idx < list; ++ idx ) {
          var newOption = $('<option>' + list[ idx ] + '</option>', {
              value: list[idx]
          });
          
          contextSelect.append(newOption);
      }
  }

</script>