{{> page-header this }}

<section>
  
  <header>
    <h2 class="card-title">Ajout d'un compte utilisateur</h2>
  </header>

  {{> admin/admin-new-user-form this }}

</section>

{{> page-footer this }}
