<footer>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Accueil</a></li>
    <li class="list-inline-item"><a href="http://FiMaJe.fr">FiMaJe</a></li>
    <li class="list-inline-item"><a href="http://LaCompagnieDesTrolls.fr">La Compagnie des Trolls</a></li>
  </ul>
</footer>