<footer class="m-t-1 m-b-1">
  <div class="navbar navbar-dark bg-inverse">
    <a href="/" class="navbar-brand">Concours du FiMaJe</a>

    <ul class="nav navbar-nav pull-md-right">
      <li class="nav-item">
        <a href="http://FiMaJe.fr" class="nav-link">FiMaJe</a>
      </li>
      <li class="nav-item">
        <a href="http://LaCompagnieDesTrolls.fr" class="nav-link">La Compagnie des Trolls</a>
      </li>
      <li class="nav-item">
        <a href="/admin" class="nav-link">Gestion du concours</a>
      </li>
    </ul>
  </div>
  
  <div class="m-t-1 m-b-1">
    <p class="text-muted text-xs-center">
      <small>Application conçue et réalisée par la <a href="http://SGinTech.fr/" target="_blank">société S.G. inTech</a>.</small>
    </p>
  </div>
</footer>