<header class="">
  <a href="/" title="Retour à l'accueil"><img src="/public/img/fimaje-2016_banner_header.jpeg" alt="FiMaJe 2016" class="img-fluid img-rounded m-t-1 hidden-print"></a>
  <h1 class="display-4">FiMaJe<span class="text-muted">, par La Compagnie des Trolls</span></h1>
  
</header>
