<form class="m-b-2">

  <div class="card">
    <div class="card-header">
      <h2><span class="label label-pill label-default">1</span>
        Vos informations personnelles
      </h2>
    </div>

    <div class="card-block">                    
      <div class="row form-group">
        <label class="form-control-label col-xs-3  col-md-2">Nom:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-4">
          <input class="form-control" type="text" name="userLastName" maxlength="42" required="required">
        </div>

        <div class="clearfix hidden-md-up"></div>

        <label class="form-control-label col-xs-3 col-md-2">Prénom:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-4">
          <input class="form-control" type="text" name="userFirstName" maxlength="42" required="required">
        </div>
      </div>

      <div class="row form-group">
        <label class="form-control-label col-xs-3  col-md-2">E-mail:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-4">
          <input class="form-control" type="email" name="userEmail" maxlength="80" required="required">
        </div>

        <div class="clearfix hidden-md-up"></div>

        <label class="form-control-label col-xs-3 col-md-2">Téléphone:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-4">
          <input class="form-control" type="tel" name="userPhone" maxlength="20" required="required">
        </div>
      </div>

      <div class="row form-group">
        <label class="form-control-label col-xs-3  col-md-2">Club:</label>
        <div class="col-xs-9 col-md-4">
          <input class="form-control" type="text" name="userClub" maxlength="92">
        </div>
      </div>
    </div>
  </div>
</form>
