<form>
  <div class="card">
    <div class="card-block">                    
      <label class="c-input c-checkbox">
        <input type="checkbox" name="ackConditions" value="true"
               onchange="">
        <span class="c-indicator"></span>
        J'accepte sans réserves les conditions de participation au concours.
      </label>
      <p class="text-muted m-t-2">
        Le document PDF des conditions de participation est consultable à
        <a target="_blank" href="http://lacompagniedestrolls.jimdo.com/app/download/6137663461/2015+FIMAJE+REGLEMENT+DU+CONCOURS.pdf?t=1446021764">cette adresse</a>.
      </p>
    </div>
    <div class="card-block text-xs-right">
      <button class="btn btn-primary btn-lg" name="register" type="submit" disabled="disabled">Valider mon inscription</button>
    </div>
  </div>                    
</form>
