<!DOCTYPE html>
<!--

FiMaJe, formulaire d'inscription de pièces

Creative Commons 
Attribution - Pas d’Utilisation Commerciale 3.0 France 
http://creativecommons.org/licenses/by-nc/3.0/fr/

Auteurs: Sylvain Gamel, club « La Compagnie des Trolls » Antibes, France

-->
<html>
  <head>
    <title>FiMaJe, Le Concours</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/public/css/fimaje.css" >
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" >
    <!-- jQuery first, then Bootstrap JS. -->
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/tether.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
  </head>

  <body>

    <section class="container">
      {{{ body }}}
    </section>

  </body>
</html>
