{{> page-header this }}

<h2 class="card-title">Gestion du concours</h2>

<div class="alert alert-danger">
  <p class="lead">
    Espace réservé aux organisateurs.
  </p>
</div>

<div class="card-deck-wrapper m-t-2" >
  <div class="card-deck">  
    
    <div class="card" >
      <div class="card-block">
        
        <a href="/admin/registration">Liste des inscriptions</a>
      </div>
    </div>
  
    
  </div>
</div>

{{> page-footer this }}
