{{> page-header this }}

<section>
  <header>
    <h2>Liste des catégories</h2>
  </header>

  <article class="alert alert-info hidden-print">
    <p>
      Cette liste représente toutes les catégories ouvertes pour le concours actif.
    </p>
  </article>

  {{#if message }}
  <article class="card card-warning">
    <div class="card-header">
      <strong>Erreur</strong>
    </div>
    <div class="card-body">
      <p>{{ message }}</p>
    </div>
  </article>
  {{/if}}

  {{#if categories}}

  <article>
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Code</th> <th>Description</th> <th>Catégorie</th>
        </tr>
      </thead>

      <tbody>
        {{#each categories}}
        <tr>
          <td>{{code}}</td> <td>{{label}}</td> <td>{{group}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </article>

  {{/if}}
</section>

{{> page-footer this }}
