{{> page-header this }}

<div class="card-deck-wrapper">
  <div class="card-deck">  
    
    <div class="card card-inverse" style="background-color: #333; border-color: #333;" >
      <div class="card-block">
        <h2 class="card-title">Inscriptions</h2>
        <p class="card-text">
          L'association de «&nbsp;La Compagnie des Trolls&nbsp;» organise un
          concours de figurines et maquettes à l'occasion du FiMaJe organisé 
          à Antibes.
        </p>
        <a href="http://fimaje.fr/">À propos du FiMaJe</a>
      </div>
    </div>
  
    <div class="card">
      <div class="card-block">
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/register">Enregistrer vous au concours</a>
          </li>
          <li class="list-group-item">
            <a href="/registration-search">Revoir votre inscription</a>
          </li>
          <li class="list-group-item">
            <a href="/categories">Voir les catégories</a>
          </li>
        </ul>
        
      </div>
    </div>

  </div>
</div>

{{> page-footer this }}
