{{> page-header this }}

<h2>Inscription au concours de peinture</h2>

<p class="fmj-hide-on-success">
  Ce formulaire vous permet de vous inscrire au concours de peinture 
  et de maquettes organisé par le club «&nbsp;La Compagnie des Trolls&nbsp;»
  à Antibes.
</p>

{{> register/user-info this }}

{{> register/user-items this }}

{{> register/user-pricing this }}

{{> register/user-submission this }}

<script type="text/javascript" src="/public/js/FiMaJe-contest.js" ></script>

{{> page-footer this }}

<script>

var FMJForm;
var model = {{{ to_json this }}};

// Create the main form
$(function() {
    FMJForm = new FMJContestSubmission(model);
    model = null;
});

</script>
