<form class="fmj-hide-on-success m-b-2">

  <div class="card">
    <div class="card-header">
      <h2><span class="label label-pill label-default">2</span>
        Vos pièces
      </h2>
    </div>

    <div class="card-block">                    
      <h3 class="m-t-1 m-b-2">Les pièces enregistrées</h3>

      <ul id="registeredItems" class="list-group">
        <li class="fmj-item list-group-item" data-trigger="template" >
          <div class="row">
            <div class="col-xs-8 col-md-10">
              <var class="fmj-item-name">Pièce enregistrée</var>
              <small><var class="fmj-item-group label label-info label-pill" >Group</var></small>
              <small><var class="fmj-item-category label label-info label-pill" data-value="CODE">Catégorie</var></small>
            </div>
            <div class="col-xs-4 col-md-2">
              <button type="button" class="btn btn-sm btn-danger-outline pull-xs-right" value="del">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span class="hidden-md-down">Enlever</span>
              </button>
            </div>
          </div>

        </li>
      </ul>
    </div>

    <div class="card-footer fmj-hide-on-success">
      <h3 class="m-t-1 m-b-2">Ajoutez une pièce</h3>

      <div class="row form-group">
        <label class="form-control-label col-xs-3  col-md-1">Nom:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-5">
          <input class="form-control" type="text" name="item_name" maxlength="80" required="required">
        </div>

        <div class="clearfix m-b-1 hidden-md-up"></div>

        <label class="form-control-label col-xs-3 col-md-2">Catégorie:<sup class="required-input">*</sup></label>
        <div class="col-xs-9 col-md-4">
          <select class="c-select form-control" name="item_category">
            <option disabled="disabled">Choisissez une catégorie</option>
          </select>
        </div>
      </div>

      <div class="text-xs-right">
        <button class="btn btn-success btn-sm" type="button" name="add_item">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Ajouter</button>
      </div>

    </div>
  </div>

</form>

