/*
 FiMaJe, gestion du concours

 Creative Commons 
 Attribution - Pas d’Utilisation Commerciale 3.0 France 
 http://creativecommons.org/licenses/by-nc/3.0/fr/

 Auteurs: Sylvain Gamel, club « La Compagnie des Trolls » Antibes, France

*/
/* 
    Created on : 11 juin 2016, 16:56:43
    Author     : Sylvain Gamel <contact@SylvainGamel.fr>
*/

@media print {
    body {
        font-size: 0.5rem;
    }
}

