/*
 FiMaJe, gestion du concours

 Creative Commons 
 Attribution - Pas d’Utilisation Commerciale 3.0 France 
 http://creativecommons.org/licenses/by-nc/3.0/fr/

 Auteurs: Sylvain Gamel, club « La Compagnie des Trolls » Antibes, France

*/
/* 
    Created on : 11 juin 2016, 16:56:43
    Author     : Sylvain Gamel <contact@SylvainGamel.fr>
*/

@media print {
    body {
        position: relative;
        
        width: 210mm;
        height: 297mm;
        
        font-size: 12pt;
        
        margin: 15mm 20mm;
    }

    header.jumbotron {
        height: auto;
        margin:  0mm;
        padding: 5mm;

        background-color: #f0f0f0;

        h1.display-4 {
            font-size:   16pt;
            line-height: 16pt;
            
            display: inline-block;
            padding: 0mm;
            margin: 0mm 10mm 0mm 0mm;
        }
        
        p.lead.text-muted {
            font-size:   14pt;
            line-height: 14pt;
            
            display: inline-block;
            padding: 0mm;
            margin:  0mm;
        }
    }
    
    footer {
        position: absolute;
        bottom:   0mm;
        left:     0mm;
        right:    0mm;

        font-size:   9pt;
        line-height: 12pt;
    }
    
    h2 {
        font-weight: bold;
        font-size:   14pt;
        line-height: 14pt;

        padding: 2mm;
        margin:  0mm 0mm 10mm 0mm;
    }
    
    h3 {
        font-weight: bold;
        font-size:   13pt;
        line-height: 13pt;

        padding: 2mm;
        margin:  0mm 0mm 2mm 0mm;
    }
    
    .card-block {
        padding: 2mm;
    }
    
    .fmj-label {
        font-weight: bold;
        font-size:   10pt;
        line-height: 10pt;
    }
    .fmj-value {
        font-weight: normal;
        font-size:   10pt;
        line-height: 10pt;
    }
    .fmj-id {
        font-weight: bold;
        font-size:   14pt;
        line-height: 14pt;
    }
    
    hr.cut-here {
        border: none;
        border-top: 1px black dotted;
        
        margin: 5mm 0mm;
    }
    
    table.table {
        th, td {
            padding: 2mm;
        }
    }
    
    thead.thead-inverse {
        th, td {
            color: black;
            font-weight: bold;
            font-size:   10pt;
            line-height: 10pt;
        }
    }
    
    // Add pagebreak before stickers
    article.fmj-stickers {
        page-break-before: always;
    }
}
