/*
 FiMaJe, gestion du concours

 Creative Commons 
 Attribution - Pas d’Utilisation Commerciale 3.0 France 
 http://creativecommons.org/licenses/by-nc/3.0/fr/

 Auteurs: Sylvain Gamel, club « La Compagnie des Trolls » Antibes, France

*/
/* 
    Created on : 11 juin 2016, 16:55:51
    Author     : Sylvain Gamel <contact@SylvainGamel.fr>
*/

// ===== FORMS

label {
    sup.required-input {
        color: red;
    }
}

.fmj-action-bar {
    @include media-breakpoint-down(sm) {
        .btn {
            width: 100%;
        }
    }
}

// ===== CUSTOM TYPOGRAPHY

.text-smallcaps {
    font-variant: small-caps;
}

// ===== TABLES

// Ensure that using a row in a th will not break vertical alignments
//
thead th .row {
    &:after {
        display: none;
    }
}