/*
 FiMaJe, gestion du concours

 Creative Commons 
 Attribution - Pas d’Utilisation Commerciale 3.0 France 
 http://creativecommons.org/licenses/by-nc/3.0/fr/

 Auteurs: Sylvain Gamel, club « La Compagnie des Trolls » Antibes, France

*/
/* 
    Created on : 22 juin 2016, 13:13:59
    Author     : Sylvain Gamel <contact@SylvainGamel.fr>
*/

.category-ballot caption {
    caption-side: top;
    color: black;
}

.vote-status {

    i.vote-pending {
        color: red;
        // Visible by default
    }
    i.vote-complete {
        color:   darkgreen;
        // Hidden by default
        display: none;
    }
    
    i.vote-impossible {
        color: darkgray;
    }

    &.vote-complete {
        i.vote-pending {
            // Hidden as vote is complete
            display: none;
        }
        i.vote-complete {
            // Shown as vote is complete
            display: inline;
        }
    }
}