<div id="passwordEditor" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Changer le mot de passe de <var class="fmj-login">LOGIN</var></h4>
      </div>

      <div class="modal-body">
        <p class="alert alert-warning" hidden="hidden" >
          Impossible de modifier le mot de passe de cet utilisateur pour l'instant.
          Réessayez dans quelques instants.
        </p>

        <form>
          <fieldset class="form-group">
            <label for="password">Nouveau mot de passe&nbsp;:</label>
            <input type="password" class="form-control" id="password" value="" >
          </fieldset>

          <fieldset class="form-group">
            <label for="passwordConfirmation">Confirmez ce mot de passe&nbsp;:</label>
            <input type="password" class="form-control" id="passwordConfirmation" value="" >
          </fieldset>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" name="cancel" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
