<div id="deleteConfirm" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Supprimer l'utilisateur <var class="fmj-login">LOGIN</var></h4>
      </div>

      <div class="modal-body">
        <p class="lead">
          Si vous confirmer cette action l'utilisateur n'aura plus d'accès
          à cette application.
        </p>
        
        <p class="alert alert-warning" hidden="hidden" >
          Impossible de supprimer cet utilisateur pour l'instant.
          Réessayez dans quelques minutes.
        </p>
      </div>

      <div class="modal-footer">
        <button name="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button name="delete" type="button" class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Supprimer l'utilisateur
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
